

/* mediam size device */
@media screen and (max-width: 768px) {
   
    header, main, footer {
        width: 100%;
        padding: 0 30px;
    }

    /* nav */
    nav {
        margin-top: 20px;
        align-items: center;
    }
   
}
/* mobile device */

@media screen and (max-width: 393px) {
    :root{
    /* text size */
--text-size-24px:2rem;
--text-size-50px:3.1rem;
--text-size-14px:0.875rem;
--text-size-40px:2.5rem;
--text-size-20px:1.25rem;

}
 header, main, footer {
   
    padding:0 16px;

 }


 /* nav */
 nav{
    margin-top: 13px;
   
 }
nav .logo-container{
     width: 63px;
    height: 38px;
 }
 nav ul li{
    display: none;
 }
 nav ul li:last-child{
    display: block;
 }
 .banner {
    width: 100vw;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 28px;
 }
 .banner-content{
    width: 100vw;
   padding:28px 0;
   text-align: start;
 }
 .banner-content h1 {
    font-size: var(--text-size-24px);
 }
 .banner-content p {
    font-size: var(--text-size-14px);
  
 }
}
