*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Noto Serif", serif;
}
:root{
    /* text size */
    --text-size-65px:4.06rem;
--text-size-50px:3.1rem;
--text-size-22px:1.375rem;
--text-size-40px:2.5rem;
--text-size-20px:1.25rem;
/* color */
--text-color-252432:rgba(37, 36, 50, 1);
--text-color-black:#000000;
--text-color-white:#ffffff;
--text-color-8987A1:rgba(137, 135, 161, 1);
--text-color-E95A0B:rgba(233, 90, 8, 1);
--text-color-000000:rgba(0, 0, 0, 0.5);
/* bg color */

--bg-color-E95A0B:rgba(233, 90, 8, 1);

}
/* shared style */
.span{
    color: var(--text-color-E95A0B);
}
.section-title{
    font-size: var(--text-size-50px);
    font-weight: bold;
    color: var(--text-color-black);

}
.section-description{
    font-family: "Inter", sans-serif ;
    font-size: var(--text-size-22px);
    color: var(--text-color-000000);
   
    
}
/* header */
header,main,footer{
    max-width: 1440px;
    margin: auto;
}
header nav,header .banner,main>section,footer>section{
    
    width: 79%;
    margin: auto;
}


/* nav start */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

  
}
nav .logo-container{
    width: 135px;
    height: 82px;}
    nav ul{
        display: flex;
        gap: 48px;
    }
    nav ul li{
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        color: rgba(137, 135, 161, 1);
        line-height: 24px;
        font-family: "Inter", sans-serif ;
    }
    nav ul li:last-child a{
        color: var(--text-color-black);
        
    }
    nav ul li:first-child a{
        color: var(--text-color-252432);
        
        font-weight: bold;
    }
    #shopping-icon{
        margin-right: 10px;
    }
    /* nav end */
    /* banner start */
    .banner{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
    }
    .banner h1{
        font-size: var(--text-size-65px);
        font-weight: bold;
        color: var(--text-color-black);
        margin-bottom: 13px;
    }
    .banner h1 span{
        color: var(--text-color-E95A0B);
    }
    .banner >div{
        
        flex: 1;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .banner p{
        font-family: "Inter", sans-serif;
        font-size: var(--text-size-22px);
        color: var(--text-color-000000);
    }
    
    .banner img{
        display: block;
        width: 100%;
        height: 100%;
    }
/* plants section start */
.plants-section{
    margin-top: 120px;
}
.plants-section h2{
    font-size: var(--text-size-50px);
    font-weight: bold;
    color: var(--text-color-black);
    text-align: center;
}
.plants-section p{
    font-family: "Inter", sans-serif ;
    font-size: var(--text-size-22px);
    color: var(--text-color-000000);
    text-align: center;
    max-width: 888px;
    margin:16px auto 49px;
} 
/* plants section end */
.plants-items-container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 210px;
}
.plant-item{
    text-align: center;
    max-width: 270px;
}
.plant-item img{
    width: 100%;
    margin-bottom: 30px;
}
.plant-item h3 ,.plant-item h2{
    font-size: var(--text-size-22px);
    font-weight: bold;
    font-family: "Inter", sans-serif;
    
    color:rgba(17, 17, 17, 1);
    margin-bottom: 7px;
}
.plant-item h3{
    font-weight: 500;
}
.plant-item h2{
    margin-bottom: 30px;
}
.plant-item button{
    color:var(--text-color-white);
    background-color: var(--bg-color-E95A0B);
    padding: 26px 50px;
    width: 100%;
    font-weight: 600;
    border: none;
    
}
/* plants end */
/* plants lover start */
.plants-lover-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 134px;
}
.plants-lover-section img{
    width: 100%;
    height: 100%;
}
.plants-lover-section > div{
    flex: 1;
    
}
.plants-lover-section h2{
    font-size: var(--text-size-50px);
    font-weight: bold;
    color: var(--text-color-black);
}
.plants-lover-section li{
    font-family: "Inter", sans-serif ;
    font-size: var(--text-size-22px);
    color: var(--text-color-000000);
    margin: 20px 0;
}
.plants-lover-section ul{
    padding-left: 23px;
    
}


/* plants lover end  */


/* .latest deals start*/

.Latest-deals-section >h2{
    font-size: var(--text-size-50px);
    font-weight: bold;
    color: var(--text-color-black);
    text-align: center;
}
.Latest-deals-section >p{
    font-family: "Inter", sans-serif ;
    font-size: var(--text-size-22px);
    color: var(--text-color-000000);
    text-align: center;
    max-width: 888px;
    margin:16px auto 120px;
}
.deals-card{
   
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    padding: 30px;
    color: var(--text-color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deals-card:nth-child(1) h3,.deals-card:nth-child(3) h3{
    font-size: var(--text-size-20px);
    color: var(--text-color-white);
    font-weight: bold;
    margin-bottom: 19px;

}
.deals-card:nth-child(1) p,.deals-card:nth-child(3) p{
font-size:1rem ;
font-weight: 600;
color: var(--text-color-white);
border-bottom: 2px solid white;
}

.deals-card:nth-child(2) h3{

    font-size:var(--text-size-40px);
color: var(--text-color-white); 
   
}
.deals-card:nth-child(2) p{
    font-family: "Inter", sans-serif ;
    font-size: 1.75rem;
color: var(--text-color-white); 
   border-bottom: 2px solid white;
   padding-bottom: 5px;
   
}

.deals-card:nth-child(1){


 background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../assets/deal-ana.png');
}
.deals-card:nth-child(3){
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../assets/deal-bloom.png');

}
.deals-card:nth-child(2){
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../assets/deal-zabo.png');

grid-column: span 2;
grid-row: span 2;
}
.deals-card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    row-gap: 25px;
    column-gap: 28px;
margin-bottom: 120px;
   
}
/* .latest deals end*/
/* form section start */
.form-section{
    width: 100%;
    background-image: url(../assets/news-letter-bg.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 199px 0;
  margin-bottom: 50px;
}
.form-section form{
    max-width: 810px;
    padding: 0 20px;
    
    margin: auto;
}
.form-section .section-title{
    color: var(--text-color-white);
    text-align: center;
    margin-bottom: 23px;

}
.form-section input[type="text"]{
    width: 75%;
    padding: 16px 0 16px 20px;
    background-color:var(--text-color-white);
    border: none;
}
.input-parent{
    display: flex;
}
.form-section input[type="submit"]{
    color: var(--text-color-white);
    font-weight: 600;
  
    padding:16px 53px;
    background-color:var(--bg-color-E95A0B);
    border: none;
}


/* form section end */
/* footer start */
footer .content-parent{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    margin-bottom: 18px;
   
}
.content-parent .colume-4{
    text-align: end;
}
.content-parent .colume-1{
    max-width: 360px;
}
.colume-1 img{
width: 135px;
height: 82px;
margin-bottom: 16px;
}
.colume-1 p{
    font-size: var(--text-size-22px);
     font-family: "Inter", sans-serif;
     color: var(--text-color-000000);
     line-height: 24px;
}
footer ul li{
list-style: none;
margin-bottom: 32px;
}
.colume-2 li a, .colume-3 li a{
    text-decoration: none;
   color: rgba(107, 114, 128, 1);
  
}
.colume-4{
    text-align: right;
}
.colume-4 img{
    width: 36px;
    height: 36px;
  margin-left: 24px;
}
/* footer end */